<div [@routerTransition]>
  <app-page-header [heading]="'Canais'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <div class="card mb-3">
        <div class="card-header">
          Canal
        </div>
        <div class="card-body table-responsive">
          <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset class="form-group">
              <label>Nome</label>
              <input type="text" formControlName="name" class="form-control">
              <!-- <p class="help-block">Example block-level help text here.</p> -->
            </fieldset>
            <fieldset class="form-group">
              <label>Usuário</label>
              <input type="text" formControlName="username" class="form-control">
              <!-- <p class="help-block">Example block-level help text here.</p> -->
            </fieldset>

            <div class="col text-center">
              <button type="reset" class="btn btn-danger">Limpar</button>
              <button style="margin-left: 10px;" type="submit" class="btn btn-success" [disabled]="!form.valid">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
